.app-content {
  padding-top: 70px; /* leave space for sticky navbar */
  max-width: 1200px;
  margin: 0 auto;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.error-snackbar {
  background-color: #f44336;
  color: white;
}
