.add {
  display: flex;
  justify-content: flex-end;
  padding: 1rem 1rem;
  margin-bottom: 0.25rem;
}

.add button {
  display: flex;
  align-items: center;
  color: white;
  background-color: lightseagreen;
  cursor: pointer;
}

.tasks-header button {
  display: flex;
  align-items: center;
  color: white;
  background-color: lightseagreen;
  cursor: pointer;
}

.tasks-header button mat-icon {
  margin-right: 4px;
}
.tasks-header {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: flex-start;
  margin-bottom: 16px;
}

.search-field {
  width: 300px;
}
