<app-nav></app-nav>
<h4></h4>
<div class="add">
  <button mat-raised-button color="primary" (click)="addNewTask()">
    <mat-icon>add</mat-icon> Add New
  </button>
</div>
<div class="tasks-header">
  <mat-form-field appearance="outline" class="search-field">
    <mat-label>Search Tasks</mat-label>
    <input
      matInput
      [(ngModel)]="searchTerm"
      placeholder="Search by title or description"
      (keyup.enter)="applySearch()"
      (ngModelChange)="onSearchChange($event)"
    />
    <button mat-icon-button matSuffix (click)="applySearch()">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
</div>
<app-spinner *ngIf="isLoading"></app-spinner>
<app-generic-table
  *ngIf="tasks?.length"
  [data]="tasks"
  [columns]="[
    'title',
    'description',
    'status',
    'priority',
    'createdAt',
    'dueDate'
  ]"
  [headers]="[
    'Title',
    'Description',
    'Status',
    'Priority',
    'CreatedAt',
    'DueDate'
  ]"
  [actions]="{ edit: editTask.bind(this), delete: deleteTask.bind(this) }"
>
</app-generic-table>

<div class="app-content">
  <router-outlet></router-outlet>
</div>
